body {
  background-image: url('../img/background.jpg');
  background-size: 300px;
  height: 100vh;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.background {
  margin: auto;
  background-image: url('../img/chalkboard.png');
  background-position: right;;
  background-size: cover;
  background-color: rgba(43, 41, 42, 0.8);
  padding: 20px;
}

.outer-border{
  border:1px solid white;
  padding: 5px;
}

.container {
  border:5px solid white;
  padding: 20px;
  height: 70vh;
  min-height: 700px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
}

.side-col {
  width: 350px;
  height: 70vh;
  min-height: 700px; 
  border:5px solid white;
  padding: 20px;;
  color: white;
  text-align: center;
  position: relative;
}

.side-col p {
  padding: 5px;
  text-align: left;
  border-top: white 1px solid;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: white 2px solid;
  color: white;
  background-color: #2B292A;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

.pizza-name {
  padding: 5px;
  border-bottom: 1px solid white;
}

.hidden {
  display: none;
  border-bottom: none;
  padding-left: 30px;
  text-transform: capitalize;
}

.right {
  float: right;
  padding-right: 10px;
}

.bottom {
  position: absolute;
  bottom:20px;
  width: calc(100% - 40px);
}

#menu {
  width: 400px;
}

.full input, .full textarea {
  width: 200px;
  font-size: 20px;
  padding: 7px 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgba(43, 41, 42);
  color: white;
  border: 1px solid white;
}

.form-group {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#quantity {
  margin-left: 20px;
  background-color:rgba(43, 41, 42);
  color: white;
  padding: 5px 0 5px 5px;
}

.label {
  margin-bottom: 10px;
  width: 100%;
}

.toppings img {
  width: 60px;
}

input[type="checkbox"], input[type="radio"] {
  display:none;
}

.toppings label{
  margin:20px;
}

.checked {
  border-bottom: 5px solid white;
}

.pizza-size label{
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
