@font-face {
  font-family: "Rhodyn Chalk";
  src: url("../fonts/Rhodyn Chalk.ttf");
}

body {
  background-image: url("../img/background.jpg");
  background-size: 300px;
  height: 100vh;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.background {
  margin: auto;
  background-image: url("../img/chalkboard.png");
  background-position: top;
  background-size: cover;
  background-color: rgba(43, 41, 42, 0.8);
  padding: 20px;
}

.outer-border {
  border: 1px solid white;
  padding: 5px;
}

.inner-border {
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  height: 100%;
}

h1 {
  font-family: "Rhodyn Chalk", cursive;
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding-bottom: 20px;
}

h4 {
  font-family: "Rhodyn Chalk", cursive;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid white;
  text-transform: lowercase;
}

button {
  padding: 10px 20px;
  border: white 2px solid;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

button,
label,
input,
textarea,
#pizzas,
#toggle-cart {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.hidden {
  display: none;
  border-bottom: none;
  padding-left: 30px;
  text-transform: capitalize;
}

/* Cart styles */

#cart {
  min-width: 275px;
  color: white;
  text-align: center;
  height: 100%;
}

#cart p,
#thank-you p {
  padding: 5px;
  text-align: left;
  border-top: white 1px solid;
}

#cart .container {
  display: block;
}

#pizzas {
  margin-bottom: 105px;
}

.pizza-name {
  padding: 5px;
  border-bottom: 1px solid white;
}

.right {
  float: right;
  padding-right: 10px;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.remove {
  color: red;
  padding: 5px 10px 0 0;
  float: left;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

/*Menu styles*/
#menu {
  min-width: 500px;
}

.border {
  border-right: 1px solid white;
}

.pizzas label,
.pizza-size label,
.toppings label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  padding-bottom: 10px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  max-width: 490px;
}

label {
  padding: 0 20px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Rhodyn Chalk", cursive;
}

.option {
  font-family: "Rhodyn Chalk", cursive;
  font-size: 25px;
}

#name,
textarea,
#delivery-option input {
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

#quantity {
  margin: 0 0 10px 20px;
  background-color: rgba(43, 41, 42);
  color: white;
  padding: 5px 0 5px 5px;
}

.quantity label {
  padding-bottom: 10px;
}

img {
  width: 60px;
  padding-bottom: 10px;
}

.checked {
  border-bottom: 5px solid white;
}

#toggle-cart {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

#toggle-cart img {
  width: 30px;
}

/*Delivery options styles*/
#delivery input {
  width: 80%;
}

#delivery input::placeholder {
  color: white;
}

#start {
  margin: auto;
}

#toppings,
#start,
#delivery,
#pick-up,
#menu,
#thank-you,
#cart {
  display: none;
}

.flex {
  display: flex;
}

#thank-you {
  text-transform: capitalize;
}
